# Directory where all configuration and state will be stored.
CONFIG=~/openhr20_config

# Serial port with OpenHR20 master connected
SERIAL_PORT=/dev/ttyUSB0

# Exposed HTTP port.
HTTP_PORT=8080

# System time zone.
TZ=Europe/Warsaw
